# Visualización de Datos

## Pre-procesamiento de Datos

In [8]:
import pandas as pd

In [13]:
ruta_archivo = 'Data_Banco.csv'

data_banco_df = pd.read_csv(ruta_archivo, sep=',')
data_banco_df.rename(columns={'Sucursal':'ID_Sucursal', 'Cajero':'ID_Cajero'}, inplace=True)

escala = ['Muy Malo', 'Malo', 'Regular', 'Bueno', 'Muy Bueno']
data_banco_df.Satisfaccion = pd.Categorical(
    data_banco_df.Satisfaccion,
    categories=escala,
    ordered=True
)
tipo_transaccion = list(set(data_banco_df.Transaccion))
data_banco_df.Transaccion = pd.Categorical(
    data_banco_df.Transaccion,
    categories=tipo_transaccion
)
data_banco_df['Tiempo_Servicio_min'] = data_banco_df['Tiempo_Servicio_seg']/60 
data_banco_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24299 entries, 0 to 24298
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_Sucursal          24299 non-null  int64
 1   ID_Cajero            24299 non-null  int64
 2   ID_Transaccion       24299 non-null  int64
 3   Transaccion          24299 non-null  category
 4   Tiempo_Servicio_seg  24299 non-null  float64
 5   Satisfaccion         24299 non-null  category
 6   Monto                24299 non-null  float64
 7   Tiempo_Servicio_min  24299 non-null  float64
dtypes: category(2), float64(3), int64(3)
memory usage: 1.2 MB

In [14]:
ruta_archivo = 'Data_Cajero.csv'

data_cajero_df = pd.read_csv(ruta_archivo, sep=',')
data_cajero_df.rename(columns={'Cajero':'ID_Cajero', 'Anio Ingreso':'Anio_Ingreso'}, inplace=True)

nivel_formacion = list(set(data_cajero_df.Nivel_Formacion))

data_cajero_df.Nivel_Formacion = pd.Categorical(
    data_cajero_df.Nivel_Formacion,
    categories=nivel_formacion
)
data_cajero_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID_Cajero        27 non-null     int64
 1   Edad             27 non-null     int64
 2   Sexo             27 non-null     object
 3   Nivel_Formacion  27 non-null     category
 4   Anio_Ingreso     27 non-null     int64
dtypes: category(1), int64(3), object(1)
memory usage: 1.2+ KB

In [15]:
ruta_archivo = 'Data_Sucursal.csv'

data_sucursal_df = pd.read_csv(ruta_archivo, sep=',')
data_sucursal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID_Sucursal    5 non-null      int64
 1   Sucursal       5 non-null      object
 2   Nuevo_Sistema  5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes

In [16]:
data_banco_df = pd.merge(data_banco_df, data_sucursal_df, how='inner', on='ID_Sucursal')
data_banco_df = pd.merge(data_banco_df, data_cajero_df, how='inner', on='ID_Cajero')
data_banco_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24299 entries, 0 to 24298
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_Sucursal          24299 non-null  int64
 1   ID_Cajero            24299 non-null  int64
 2   ID_Transaccion       24299 non-null  int64
 3   Transaccion          24299 non-null  category
 4   Tiempo_Servicio_seg  24299 non-null  float64
 5   Satisfaccion         24299 non-null  category
 6   Monto                24299 non-null  float64
 7   Tiempo_Servicio_min  24299 non-null  float64
 8   Sucursal             24299 non-null  object
 9   Nuevo_Sistema        24299 non-null  object
 10  Edad                 24299 non-null  int64
 11  Sexo                 24299 non-null  object
 12  Nivel_Formacion      24299 non-null  category
 13  Anio_Ingreso         24299 non-null  int64
dtypes: category(3), float64(3), int64(5), object(3)
memory usage: 2.1+ MB

## Análisis Exploratorio de los datos

### Variable Numérica vs. Variable Numérica